html,
body {
    height: 100vh;
    @extend %roboto-400;
    font-size: 18px;
    line-height: 28px;
    color: #000;
}

.container {
    margin: 0 auto;
    max-width: 1408px;
    padding: 0 15px;
}